---
import Section from "@components/Section.astro";

import { basics } from "cv_en.json"
const { summary } = basics
const { title } = Astro.props
---

<Section title={title || "Sobre mí"}>
    <p>
        { summary }
    </p>
</Section>

<style>
    p {
        text-align: justify;
        text-wrap: pretty;
        text-indent: 25px;
    }
</style>